<a href="https://colab.research.google.com/github/prithvirajrh/DS-Training-codes/blob/main/Basic_codes_till_importing_and_func.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#data types
#string
#int
#float
#boolean

In [2]:
x=10
x

10

In [3]:
print(x)

10

In [4]:
y=15
z=20

In [6]:
import math
math.sqrt(100)

10.0

In [7]:
math.sqrt(z)

4.47213595499958

In [8]:
x="prithvi"
y='raj'
x+y

'prithviraj'

In [9]:
x+" "+y

'prithvi raj'

In [10]:
3<5

True

In [11]:
3!=5

True

In [12]:
type(3<5)

bool

In [13]:
x=not(5>4)

In [14]:
x

False

In [15]:
sample1=5>6
sample2=6>2
sample1 and sample2

False

In [16]:
sample1 or sample2

True

In [26]:
x=10
while x<20:
  print(x)
  print(str(x)+" "+"is less than 20")

  x=x+1

10
10 is less than 20
11
11 is less than 20
12
12 is less than 20
13
13 is less than 20
14
14 is less than 20
15
15 is less than 20
16
16 is less than 20
17
17 is less than 20
18
18 is less than 20
19
19 is less than 20

In [30]:
x=10
while x<20:
  print(x)
  x=x+1

print(str(x)+" "+"is less than 20")

10
11
12
13
14
15
16
17
18
19
20 is less than 20

In [34]:
for z in range(60):
  print('hello:',z)

hello: 0
hello: 1
hello: 2
hello: 3
hello: 4
hello: 5
hello: 6
hello: 7
hello: 8
hello: 9
hello: 10
hello: 11
hello: 12
hello: 13
hello: 14
hello: 15
hello: 16
hello: 17
hello: 18
hello: 19
hello: 20
hello: 21
hello: 22
hello: 23
hello: 24
hello: 25
hello: 26
hello: 27
hello: 28
hello: 29
hello: 30
hello: 31
hello: 32
hello: 33
hello: 34
hello: 35
hello: 36
hello: 37
hello: 38
hello: 39
hello: 40
hello: 41
hello: 42
hello: 43
hello: 44
hello: 45
hello: 46
hello: 47
hello: 48
hello: 49
hello: 50
hello: 51
hello: 52
hello: 53
hello: 54
hello: 55
hello: 56
hello: 57
hello: 58
hello: 59

In [36]:
passed=['prithvi','raj','revanth','uma']
failed=['q','r','i','p']
for d in passed:
  print('passed :',d)
for q in failed:
  print('failed:',q)

passed : prithvi
passed : raj
passed : revanth
passed : uma
failed: q
failed: r
failed: i
failed: p

In [46]:
import numpy as np
from numpy.random import randn
result=None
x=randn()
if x>1:
  result('x is greater than 1')
print(x)
print(result)

0.5425932076472143
None

In [49]:
if x<1:
  print(str(x)+" is lesser than 1")
else:
  print(str(x)+" is greater than 1")

0.5425932076472143 is lesser than 1

In [55]:
x=randn()
if x<-1:
  print(str(x)+' <-1')
elif x>=-1:
  print(str(x) +' '+'between -1 and 1')
else:
  print(str(x)+'>1')

0.37154658206062 between -1 and 1

In [56]:
list1=['prithvi','raj',60,50.26,False]
print(list1)

['prithvi', 'raj', 60, 50.26, False]

In [57]:
type(list1)

list

In [58]:
list2=['uma',20.356,50,True]
list1+list2

['prithvi', 'raj', 60, 50.26, False, 'uma', 20.356, 50, True]

In [59]:
list1[2]

60

In [60]:
list1[:3]

['prithvi', 'raj', 60]

In [61]:
list1[3:]

[50.26, False]

In [62]:
list2[::-1]

[True, 50, 20.356, 'uma']

In [63]:
list2

['uma', 20.356, 50, True]

In [64]:
list2[1:4:2]

[20.356, True]

In [65]:
range(10)

range(0, 10)

In [66]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [69]:
list3=list(range(20,50))
list3

[20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49]

In [70]:
list3[0]

20

In [71]:
list3[3:46:3]

[23, 26, 29, 32, 35, 38, 41, 44, 47]

In [72]:
list3[0]=19

In [73]:
list3

[19,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49]

In [74]:
tuple1={10,20,30}

In [84]:
tuple1

{10, 20, 30}

In [77]:
len(list3)

30

In [78]:
max(list3)

49

In [79]:
min(list3)

19

In [85]:
b=np.array(list(range(20,30)))

In [86]:
b

array([20, 21, 22, 23, 24, 25, 26, 27, 28, 29])

In [87]:
b.mean()

24.5

In [91]:
#Dictionaries
dict1={'start':'beginning','finish':'end','centre':'middle'}
dict1

{'start': 'beginning', 'finish': 'end', 'centre': 'middle'}

In [92]:
type(dict1)

dict

In [94]:
dict1['start']

'beginning'

In [95]:
dict1['start']='Beginning'

In [96]:
dict1

{'start': 'Beginning', 'finish': 'end', 'centre': 'middle'}

In [97]:
import pandas as pd

In [100]:
stats=pd.read_csv('/content/DemographicData.csv')

In [101]:
stats

,Country Name,Country Code,Birth rate,Internet users,Income Group
0,Aruba,ABW,10.244,78.9,High income
1,Afghanistan,AFG,35.253,5.9,Low income
2,Angola,AGO,45.985,19.1,Upper middle income
3,Albania,ALB,12.877,57.2,Upper middle income
4,United Arab Emirates,ARE,11.044,88.0,High income
...,...,...,...,...,...
190,"Yemen, Rep.",YEM,32.947,20.0,Lower middle income
191,South Africa,ZAF,20.850,46.5,Upper middle income
192,"Congo, Dem. Rep.",COD,42.394,2.2,Low income
193,Zambia,ZMB,40.471,15.4,Lower middle income
194,Zimbabwe,ZWE,35.715,18.5,Low income

In [102]:
stats.head()

,Country Name,Country Code,Birth rate,Internet users,Income Group
0,Aruba,ABW,10.244,78.9,High income
1,Afghanistan,AFG,35.253,5.9,Low income
2,Angola,AGO,45.985,19.1,Upper middle income
3,Albania,ALB,12.877,57.2,Upper middle income
4,United Arab Emirates,ARE,11.044,88.0,High income

In [103]:
len(stats)

195

In [104]:
stats.head(100)

,Country Name,Country Code,Birth rate,Internet users,Income Group
0,Aruba,ABW,10.244,78.90,High income
1,Afghanistan,AFG,35.253,5.90,Low income
2,Angola,AGO,45.985,19.10,Upper middle income
3,Albania,ALB,12.877,57.20,Upper middle income
4,United Arab Emirates,ARE,11.044,88.00,High income
...,...,...,...,...,...
95,"Korea, Rep.",KOR,8.600,84.77,High income
96,Kuwait,KWT,20.575,75.46,High income
97,Lao PDR,LAO,27.051,12.50,Lower middle income
98,Lebanon,LBN,13.426,70.50,Upper middle income
99,Liberia,LBR,35.521,3.20,Low income

In [105]:
stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    195 non-null    object
 1   Country Code    195 non-null    object
 2   Birth rate      195 non-null    float64
 3   Internet users  195 non-null    float64
 4   Income Group    195 non-null    object
dtypes: float64(2), object(3)
memory usage: 7.7+ KB

In [106]:
stats.describe()

       Birth rate  Internet users
count  195.000000      195.000000
mean    21.469928       42.076471
std     10.605467       29.030788
min      7.900000        0.900000
25%     12.120500       14.520000
50%     19.680000       41.000000
75%     29.759500       66.225000
max     49.661000       96.546800

In [109]:
stats.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Birth rate,195.0,21.469928,10.605467,7.9,12.1205,19.68,29.7595,49.6610
Internet users,195.0,42.076471,29.030788,0.9,14.5200,41.00,66.2250,96.5468

In [110]:
stats.head()

,Country Name,Country Code,Birth rate,Internet users,Income Group
0,Aruba,ABW,10.244,78.9,High income
1,Afghanistan,AFG,35.253,5.9,Low income
2,Angola,AGO,45.985,19.1,Upper middle income
3,Albania,ALB,12.877,57.2,Upper middle income
4,United Arab Emirates,ARE,11.044,88.0,High income

In [111]:
stats.columns=['CountryName','CountryCode','BirthRate','InternetUser','IncomeGroup']

In [112]:
stats.head()

,CountryName,CountryCode,BirthRate,InternetUser,IncomeGroup
0,Aruba,ABW,10.244,78.9,High income
1,Afghanistan,AFG,35.253,5.9,Low income
2,Angola,AGO,45.985,19.1,Upper middle income
3,Albania,ALB,12.877,57.2,Upper middle income
4,United Arab Emirates,ARE,11.044,88.0,High income

In [113]:
stats[2:]

,CountryName,CountryCode,BirthRate,InternetUser,IncomeGroup
2,Angola,AGO,45.985,19.1,Upper middle income
3,Albania,ALB,12.877,57.2,Upper middle income
4,United Arab Emirates,ARE,11.044,88.0,High income
5,Argentina,ARG,17.716,59.9,High income
6,Armenia,ARM,13.308,41.9,Lower middle income
...,...,...,...,...,...
190,"Yemen, Rep.",YEM,32.947,20.0,Lower middle income
191,South Africa,ZAF,20.850,46.5,Upper middle income
192,"Congo, Dem. Rep.",COD,42.394,2.2,Low income
193,Zambia,ZMB,40.471,15.4,Lower middle income
194,Zimbabwe,ZWE,35.715,18.5,Low income

In [114]:
stats[10::5]

,CountryName,CountryCode,BirthRate,InternetUser,IncomeGroup
10,Azerbaijan,AZE,18.300,58.700000,Upper middle income
15,Bangladesh,BGD,20.142,6.630000,Lower middle income
20,Belarus,BLR,12.500,54.170000,Upper middle income
25,Barbados,BRB,12.188,73.000000,High income
30,Canada,CAN,10.900,85.800000,High income
35,Cameroon,CMR,37.236,6.400000,Lower middle income
40,Costa Rica,CRI,15.022,45.960000,Upper middle income
45,Germany,DEU,8.500,84.170000,High income
50,Ecuador,ECU,21.070,40.353684,Upper middle income
55,Ethiopia,ETH,32.925,1.900000,Low income
60,Gabon,GAB,30.555,9.200000,Upper middle income
65,"Gambia, The",GMB,42.525,14.000000,Low income
70,Greenland,GRL,14.500,65.800000,High income
75,Honduras,HND,21.593,17.800000,Lower middle income
80,India,IND,20.291,15.100000,Lower middle income
85,Israel,ISR,21.300,70.800000,High income
90,Kazakhstan,KAZ,22.730,54.000000,Upper middle income
95,"Korea, Rep.",KOR,8.600,84.770000,High income
100,Libya,LBY,21.425,16.500000,Upper middle income
105,Lithuania,LTU,10.100,68.452900,High income
110,Moldova,MDA,12.141,45.000000,Lower middle income
115,Mali,MLI,44.138,3.500000,Low income
120,Mozambique,MOZ,39.705,5.400000,Low income
125,Namibia,NAM,29.937,13.900000,Upper middle income
130,Netherlands,NLD,10.200,93.956400,High income
135,Pakistan,PAK,29.582,10.900000,Lower middle income
140,Poland,POL,9.600,62.849200,High income
145,Qatar,QAT,11.940,85.300000,High income
150,Sudan,SDN,33.477,22.700000,Lower middle income
155,El Salvador,SLV,17.476,23.109300,Lower middle income
160,Suriname,SUR,18.455,37.400000,Upper middle income
165,Seychelles,SYC,18.600,50.400000,High income
170,Tajikistan,TJK,30.792,16.000000,Lower middle income
175,Tunisia,TUN,19.800,43.800000,Upper middle income
180,Uruguay,URY,14.374,57.690000,High income
185,Virgin Islands (U.S.),VIR,10.700,45.300000,High income
190,"Yemen, Rep.",YEM,32.947,20.000000,Lower middle income

In [117]:
stats['CountryName'].head()

0                   Aruba
1             Afghanistan
2                  Angola
3                 Albania
4    United Arab Emirates
Name: CountryName, dtype: object

In [118]:
stats[['BirthRate','CountryName','InternetUser']]

     BirthRate           CountryName  InternetUser
0       10.244                 Aruba          78.9
1       35.253           Afghanistan           5.9
2       45.985                Angola          19.1
3       12.877               Albania          57.2
4       11.044  United Arab Emirates          88.0
..         ...                   ...           ...
190     32.947           Yemen, Rep.          20.0
191     20.850          South Africa          46.5
192     42.394      Congo, Dem. Rep.           2.2
193     40.471                Zambia          15.4
194     35.715              Zimbabwe          18.5

[195 rows x 3 columns]